@import url('https://fonts.googleapis.com/css?family=Merriweather:900&display=swap');

:root {
  --color-primary: #002626;
  --color-secondary: #F0F7EE;
  --duration: 1s;
  --nav-duration: calc(var(--duration) / 4);
  --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
  --space: 1rem;
  --font-primary: 'Helvetica', sans-serif;
  --font-heading: 'Merriweather', serif;
  --font-size: 1.125rem;
  --line-height: 1.5;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  font-size: var(--font-size);
  line-height: var(--line-height);
  background: #1b1717;
  color: rgb(255, 255, 255);
}


.main-content {
    padding-top: 3%;
    margin-left: 5%;
    padding-bottom: 3%;
    color: white;
}

.container {
    color: white;
}